<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema Web</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
  <main>
    
        <div class="button-container">
            <a href="../index.html" class="button">Home</a>
			<a href="../../../index.html" class="button">Voltar ao Portfólio</a>
            
        </div>
        </main>
    
</main>
<body>
   
  <h1>Login</h1>
  <form id="loginForm">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" required>
    <button type="submit">Entrar</button>
  </form>
  <script src="js/login.js"></script>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>&copy; 2025 Loja Virtual- web designer: Roneii</p>
</footer>   
</html>
