<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema Web</title>
            <link rel="stylesheet" href="../css/style.css">

    </head>
<body>
    
    <header>
        <h1>Vendas - Sistema Web</h1>
    </header>

    <main>
        <div class="button-container">
            <a href="../index.html" class="button">Home</a>
            <a href="cadastroProduto.html" class="button">Cadastro de Produto</a>
            <a href="dashboard.html" class="button">Dashboard</a>
			<a href="../../../index.html" class="button">Voltar ao Portfólio</a>
        </div>

        <section class="sales-list">
            <h2>Lista de Vendas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>Produto A</td>
                        <td>2</td>
                        <td>12/02/2025</td>
                        <td>R$ 100,00</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>Produto B</td>
                        <td>1</td>
                        <td>13/02/2025</td>
                        <td>R$ 50,00</td>
                    </tr>
                    <!-- Mais vendas aqui -->
                </tbody>
            </table>
        </section>
    </main>
    <br><br><br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2025 Loja Virtual- web designer: Roneii</p>
    </footer>
</body>
</html>
